.background-content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.797);
    animation-name: fade-in;
    animation-duration: 0.2s;
}

.cart {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70vw;
    animation-name: cart-slide;
    animation-duration: 0.4s;
    padding-left: 20px;
    overflow-y: scroll;
    padding-bottom: 100px;
}

@keyframes cart-slide {
    from {
        translate: 150vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes fade-in {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, 0.797);
    }
}

.close {
    border: none;
    background-color: white;
    float: right;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 0;
    display: flex;
}

.close:hover {
    background-color: gray;
}