.product-cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-card {
    border-radius: 20px;
    border: 1px solid black;
    padding: 0px 10px 10px 10px;
}

.product-card img {
    width: 100%;
    height: auto;
}